
if SHIELD_SWEEP_ENCODER_LEFT

config ZMK_KEYBOARD_NAME
	default "Ferris Wheel"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

endif


if SHIELD_SWEEP_ENCODER_RIGHT

config ZMK_KEYBOARD_NAME
	default "Ferris Wheel R"

endif


if SHIELD_SWEEP_ENCODER_RIGHT || SHIELD_SWEEP_ENCODER_LEFT

config ZMK_SPLIT
	default y


endif
